form {
    padding: 5%;
    display: grid;
    color: whitesmoke;
    width: 60%;
    
}
fieldset{
    border: 5px double black;
    border-radius: 20px;
    background-image: linear-gradient(157deg, rgba(0, 225, 255, 0.656), rgba(255, 0, 0, 0.549), rgba(20, 151, 147, 0.609), rgba(92, 8, 8, 0.46));
    padding: 5%;
    display: grid;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
legend {
    background-color: rgba(32,32,32,.25);
    font-size: 2.5rem;
    color: rgb(135, 255, 88);
    border-radius: 10px;
    padding: 1%;
}
h1 {
    width: 30%;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-image: linear-gradient(13deg, rgb(255, 166, 0), rgba(255, 0, 0, 0.46), rgba(255, 230, 0, 0.836));
    color: rgb(33, 58, 199);
    text-align:center;
}
fieldset button {
    grid-column: 1 / span 2;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
        background-image: linear-gradient(157deg, rgba(51, 220, 74, 0.9), rgba(20, 151, 147, 0.609), rgba(25, 167, 58, 1));
}
fieldset button:hover {
        background-image: linear-gradient(157deg, rgba(51, 220, 74, 1), rgba(20, 151, 147, 1), rgba(25, 167, 58, 1));

}
fieldset p {
    grid-column: 2;
    font-size: .8rem;
}
label {
    grid-column: 1;
    font-size: 1.2rem;
    width
}
input {
    padding-left:10px;
    background-color: rgba(2, 162, 255, 0.4);
    grid-column: 2;
    color: whitesmoke;
    border: solid 2px black;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
}
input:focus {
    outline: none;
    background-image: linear-gradient(44deg, rgba(136, 64, 64, 0.545), rgba(140, 57, 57, 0.47), rgba(127, 55, 55, 0.171));
}
input:valid {
    border: solid 2px rgb(135, 255, 88);
}
input:invalid {
    border: solid 2px red;
}
body {
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(23deg,lightblue ,blueviolet ,cyan);
    background-repeat: no-repeat;
    height: 125vh;
    align-items: center;

}
.little {
    display: flex;
    align-items: center;
    grid-column: 2;
}
#form-msg {
    font-size: 1.2rem;
}