body {
    background-color: blueviolet;
    text-align:center;
}
button {
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
}
.buttons {
    display: grid;
    padding: 5rem;
    margin: 2rem;
    justify-content: center;
}
p {
    font-size: 1.2rem;
    padding: 50px;
}