body {
    color: yellow;
    background-color: rgb(31,32,31);
    text-align: center;
    padding: 10%;
}
main {
    padding: 1%;
}
a {
    padding: 20px;
    text-decoration: none;
    background-color: rgb(31,32,31);
    color: yellow;
    border-radius: 20px;
}

a:hover {
    color: black;
    background-color: yellow;
}

button {
    padding: 10px;
    font-size: 3rem;
    border-radius: 20px;
    background-color: rgb(31,32,31);
    color: yellow;
    border: solid 1px yellow;
}
button:hover {
    color: black;
    background-color: yellow;
}
.input-container {
    padding: 4%;
    display: flex;
    justify-content: center;
}
.input {
    display: flex;
    flex-direction: column;
}
input {
    padding: 10px;
    height: 20px;
    width: 160px;
    font-size: 2rem;
    border-radius: 20px;
}